*{
  margin:0;
  font-family: 'inter';
}

#logo{
margin-left: 50px;
margin-top: 50px;
}

#titulo-menusuperior{
margin-left: 150px;
margin-top: 50px;
}

#texto-menusuperior{
  margin-left: 150px;
  margin-top: 30px;
  padding-bottom: 100px;
}

#menusuperior{
  background-image: url(imagens/baner-menusuperior.svg);
  color: aliceblue;
}

#menuinformacional{
  background-color: #EAECE5;
  display: grid;
  grid-auto-flow: column;
  columns: auto;
}

.icone{
  margin-top: 50px;
  margin-left: 100px;
  margin-bottom: 50px;
  padding: 15px;
}

#secaovideo{
  display: grid;
  grid-auto-flow: column;
  columns: auto;
}


.textoinformativo{
  display: flex;
  align-items: center;
}

#titulovideo{
  color: #247BA0;
  margin-top: 60px;
}

#video{
  margin-top: 40px;
  margin-left: 150px;
  margin-bottom: 50px;
  margin-right: 25px;

}
#carrosel{
  background-color:#247BA0;
  padding:10px ;
}

#titulo-carrosel{
  color: white;
  text-align: center;
  font-size: 25px;
}
#div-cards{
  display: grid;
  grid-auto-flow: column;
 
}

.card{
  margin-left:180px;
  margin-top: 50px;
  
}

#seta-esquerda{
  display: none;
  margin-right: 1px;
}

#bruna{
  display: none;
}

.seta{
  margin-top: 75%;
  cursor:pointer;
  
}

.seta:hover{
  transform: translateY(-7px);
  transition-duration: 1s;
}

#formulario{
  text-align: center;
}

#titulo-formulario{
  margin-top: 25px;
  font-size: 25px;
  font-family:'inter';
  color: #383838;
  margin: 25px;
  
}

input{
  Width:300px;
  Height:40px;
  margin-top: 20px;
  background: #EAECE5;
  border: 0px;
  border-radius: 6px;
  padding-left:10px;
  
}

button{
margin-top: 20px;
background: #247BA0;
Width:280px;
Height:40px;
border: 0px;
border-radius:5px;
color: #EAECE5;
margin-bottom:40px;
font-weight: bolder;
cursor: pointer;
}

button:hover{
transform: translateY(-5px);
box-shadow: 0px 15px 20px #6f87bb85;
transition-duration: 1s;
}







  


